<ngx-cheatsheet></ngx-cheatsheet>
<div class="app">
  <mat-toolbar class="app__toolbar" color="primary">
    ngx-hotkeys
  </mat-toolbar>
  <div class="app__content">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Registered hotkeys</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">Shift + ?: Toggle cheatsheet visibility</mat-list-item>
          <mat-list-item role="listitem">Shift + g: Sends a secret message to the console</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>